<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
   <servlet>
      <servlet-name>Servlet1</servlet-name>
      <servlet-class>pk.edu.pucit.session.URLRewriteBasicInfoManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet2</servlet-name>
      <servlet-class>pk.edu.pucit.session.HiddenFormBasicInfoManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet3</servlet-name>
      <servlet-class>pk.edu.pucit.session.CookiesBasicInfoManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet4</servlet-name>
      <servlet-class>pk.edu.pucit.session.SessionBasicInfoManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet5</servlet-name>
      <servlet-class>pk.edu.pucit.session.URLRewriteCVManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet6</servlet-name>
      <servlet-class>pk.edu.pucit.session.HiddenFormCVManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet7</servlet-name>
      <servlet-class>pk.edu.pucit.session.CookiesCVManager</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Servlet8</servlet-name>
      <servlet-class>pk.edu.pucit.session.SessionCVManager</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>Servlet1</servlet-name>
      <url-pattern>/urlRewriteBasicInfoManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet2</servlet-name>
      <url-pattern>/hiddenFormBasicInfoManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet3</servlet-name>
      <url-pattern>/cookiesBasicInfoManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet4</servlet-name>
      <url-pattern>/sessionBasicInfoManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet5</servlet-name>
      <url-pattern>/urlRewriteCVManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet6</servlet-name>
      <url-pattern>/hiddenFormCVManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet7</servlet-name>
      <url-pattern>/cookiesCVManager</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Servlet8</servlet-name>
      <url-pattern>/sessionCVManager</url-pattern>
   </servlet-mapping>
</web-app>