<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>AuthenticationManager</filter-name>
    <filter-class>pk.edu.pucit.filterdemo.AuthenticationManager</filter-class>
    <init-param>
      <param-name>allowedRemoteAddresses</param-name>
      <param-value>127.0.0.1,localhost,0.0.0.0,0:0:0:0:0:0:0:1</param-value>
    </init-param>
  </filter>

  <servlet>
  	<servlet-name>CVBuilder</servlet-name>
  	<servlet-class>pk.edu.pucit.filterdemo.CVBuilder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HitCountView</servlet-name>
  	<servlet-class>pk.edu.pucit.filterdemo.HitCountView</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CVBuilder</servlet-name>
  	<url-pattern>/CVBuilder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HitCountView</servlet-name>
  	<url-pattern>/HitCountView</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>AuthenticationManager</filter-name>
    <servlet-name>CVBuilder</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationManager</filter-name>
    <servlet-name>HitCountView</servlet-name>
  </filter-mapping>  

</web-app>